@import "bootstrap";

.video-container {
  position: relative;
}

/* Default styles for all screens */
.carousel-caption {
  position: absolute;
  bottom: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Adjust for smaller screens (mobile) */
@media (max-width: 767px) {
  .carousel-caption p {
    display: none; /* Hide the description */
  }
   .carousel-caption {
    bottom: 30px;
    top: auto;
    transform: none;
    padding: 5px; /* Optional: Adjust padding for mobile */
  }
}


/* Increase the size of the previous and next buttons */
.carousel-control-prev,
.carousel-control-next {
  width: 60px; 
  height: 60px; 
  z-index: 2; /* Ensure buttons are on top of carousel content */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to center */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px; /* Increase the icon size */
  height: 40px; /* Increase the icon size */
  background-size: 100%, 100%; /* Ensure the icons fit the container */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
}


/* Make buttons larger on mobile */
@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 80px; /* Increase width for mobile */
    height: 80px; /* Increase height for mobile */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 50px; /* Increase icon size for mobile */
    height: 50px; /* Increase icon size for mobile */
  }
}


table td {
  text-decoration: none;
}




/* Default styles for the nav tabs */
.nav-tabs {
  display: flex;
  flex-wrap: nowrap; /* Prevent the tabs from wrapping */
}

.nav-item {
  flex: 1; /* Ensure each tab takes up equal space */
  text-align: center; /* Center the text within each tab */
}




/* Ensure the table container is scrollable horizontally */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

/* Make the first column sticky */
.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  background-color: #fff; /* Match the table's background color */
  z-index: 2; /* Ensure it stays on top of other columns */

}

/* Ensure no wrapping in table cells */
.table th,
.table td {
  white-space: nowrap; /* Prevent text from wrapping */
}



